<label>server name</label>

<input type="text" class="form-control" [(ngModel)]="serverName">


<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>

<p *ngIf="serverCreated; else no Server">{{serverCreateionStatus}}</p>


<ng-template #noServer>
  <p>No server was created.</p>
</ng-template>




<p ngStyle="{backgroundColor: getBackgroundColor()}" [ngClass]="{'standard': true, 'online': (serverStatus === 'Online')}">
  {{'Server'}} with ID {{serverId}} is {{getServerStatus()}}
</p>


<app-root *ngFor="let server of servers; let i = index; let firstServer = first;"></app-root>